{% extends 'base.html' %}

{% block content %}

<div id="container">

{% with object_list|first as name %}
	<h1>{{ name.galleryextended.gallery_name }}</h1>
{% endwith %}


{% if object_list %}

<ul class="albums">
	{% for gallery in object_list %}

		
			<li>
				<a href="{{ gallery.get_absolute_url }}">
					{% for photo in gallery.sample %}
                         <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
            
                {% endfor %}
					
					<h4>{{ gallery.title }}</h4>
			
				</a>
			
					<p><strong>{{ gallery.photo_count }} photos</strong></p>
			
					<p>added {{ gallery.date_added }}</p>
					
			</li>
		


	{% endfor %}

	</ul>
</div>

{% endif %}

{% endblock %}
